{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Document</title>
</head>
<body>
{% block index %}

{% endblock index %}
  <div class="header">
    <il>
      <li><a href="">link 1</a></li>
      <li><a href="">link 2</a></li>
      <li><a href="">link 3</a></li>
      <li><a href="">link 4</a></li>
      <li><a href="">link 5</a></li>
    </il>
  </div>
  <div class="content">
  
{% block login_user %}

{% endblock login_user %}
  </div>
  <div class="foopet">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit laboriosam quam obcaecati ullam unde iste non. Quae quam quis dignissimos laborum natus consectetur deserunt alias, vel provident id quibusdam magni?</p>
  </div>
</body>
</html>